/* CSS for Verily */


/* Site Foundation
--------------------------------------------------*/
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-behavior: smooth;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: #bf9b30;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  background-color: black;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::selection {
  background: transparent;
  color: #bf9b30;
}

#site-page {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#site-main {
	width: 100%;
	float: right;

	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* slides out sidebar for desktop devices */
@media (min-width: 992px) {
	#site-main {
		width: 80%;
	}
}

/*------------------------------------------------*/

/* General Stylings
-------------------------------------------------*/

.desktop-only {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* Buttons */
.btn {
	cursor: pointer;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn:hover, .btn:active, .btn:focus {
	outline: none;
}

.btn.btn-primary {
	background: #f67e7d;
	border: 1px solid #f67e7d;
	color: #fff;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
	border: 1px solid #f67e7d;
	background: transparent;
	color: #f67e7d;
}

.btn.btn-white {
	background: #fff;
	border: 1px solid #fff;
	color: #000000;
}
.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
	background-color: rgba(0, 0, 0, 1);
	border: 1px solid transparent;
	color: rgba(255, 255, 255, 1);
}

/* Social Icons */
.ftco-social {
	padding: 0;
	margin-bottom: 0;
}

.ftco-social li {
	display: inline-block;
	list-style: none;
	margin: 0 10px 0 0;
}

.ftco-social li a {
	height: 50px;
	width: 50px;
	display: block;
	float: left;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	position: relative;
}

.ftco-social li a:hover {
	color: #fff;
}

.ftco-social li a span {
	position: absolute;
	font-size: 26px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #000000;
}


/* Page Headers */
.header {
	background: #18181e;
}

.bread .breadcrumbs {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.bread .breadcrumbs span {
	border-bottom: 2px solid #dec79b;
	color: #dec79b;
}
.bread .breadcrumbs span a {
	color: #bfbfbf;
	border-bottom: 2px solid #bfbfbf;
}
.bread .breadcrumbs .final-link {
	color: #dec79b;
}

.bread .page-heading {
	font-family: 'PT Sans Caption', sans-serif;
	color: #deb12a;
	font-weight: 700;
}

.read-time {
	font-family: 'PT Sans Caption', sans-serif;
	color: #deb12a;
	font-weight: bold;
}

@media (max-width: 768px) {
	.desktop-only {
		visibility: hidden;
	}
}

body {
	background-color: #222222;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 15px;
	color: #aaaaaa;
	font-weight: 500;
	line-height: 1.8;
}

body.offcanvas {
	overflow-x: hidden;
}

body.offcanvas #site-main, body.offcanvas .site-nav-toggle {
	top: 0;
	-moz-transform: translateX(270px);
	-webkit-transform: translateX(270px);
	-ms-transform: translateX(270px);
	-o-transform: translateX(270px);
	transform: translateX(270px);
}

body.offcanvas #site-aside {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);

	width: 270px;
	background: black;
	z-index: 1002;
	position: fixed;
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	color: #deb12a;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
	color: white;
	outline: none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: #deb12a;
	font-weight: 400;
	font-family: "Poppins", Arial, sans-serif;
}

.section {
	padding: 3em 1.8em;
	position: relative;
}

@media (max-width: 992px) {
	.section {
		padding: 3em 0;
	}
}

.section-no-padding {
	padding: 0;
}

.section-heading {
	font-family: 'PT Sans Caption', sans-serif;
	color: #deb12a;
	font-weight: 600;
}

/*-------------------------------------------------*/

/* Loading Page
-------------------------------------------------------------*/

#ftco-loader {
	position: fixed;
	width: 96px;
	height: 96px;
	left: 50%;
	top: 50%;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
	box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
	border-radius: 16px;
	opacity: 0;
	visibility: hidden;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
	-o-transition: opacity .2s ease-out, visibility 0s linear .2s;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index: 1000;
}

#ftco-loader.fullscreen {
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;

	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

#ftco-loader.show {
	-webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
	-o-transition: opacity .4s ease-out, visibility 0s linear 0s;
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

.spinner {
	margin: 40% auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;

	-webkit-animation: sk-rotate 2.0s infinite linear;
	animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #333;
	border-radius: 100%;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
	background-color: #bf9b30;
}

@-webkit-keyframes sk-rotate {
	100% {
		-webkit-transform: rotate(360deg)
	}
}
@keyframes sk-rotate {
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg)
	}
}

@-webkit-keyframes sk-bounce {
	0%, 100% {
  		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}
@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/*-------------------------------------------------------------------------*/

/* Sidebar Toggle
-------------------------------------------------------------------------*/

.site-nav-toggle {
	cursor: pointer;
	text-decoration: none;
	position: fixed;
	left: 12px;
	top: 12px;
	z-index: 9999;
	opacity: 1;
	visibility: visible;

	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@media (min-width: 992px) {
	.site-nav-toggle {
		visibility: hidden;
	}
}

.site-nav-toggle:hover, .site-nav-toggle:focus, .site-nav-toggle:active {
	outline: none;
	border-bottom: none;
}

.site-nav-toggle i {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 2px;
	background: #bf9b30;
	color: #bf9b30;
	text-transform: uppercase;

	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.site-nav-toggle i::before, .site-nav-toggle i::after {
	content: '';
	width: 30px;
	height: 2px;
	background: #bf9b30;
	position: absolute;

	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.site-nav-toggle i::before {
	top: -7px;
}
.site-nav-toggle i::after {
	bottom: -7px;
}
.site-nav-toggle:hover i::before {
	top: -10px;
}
.site-nav-toggle:hover i::after {
	bottom: -10px;
}

.site-nav-toggle.active i {
	background: transparent;
}
.site-nav-toggle.active i::before {
	top: 0;
	background: #bf9b30;
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.site-nav-toggle.active i::after {
	bottom: 0;
	background: #bf9b30;
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

/*-------------------------------------------------------------------------*/

/* Site Aside
-------------------------------------------------------------------------*/

#site-aside {
	padding: 3em 3em 40px;
	width: 20%;
	position: fixed;

	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	overflow-y: hidden;
	z-index: 1001;
	background: black;
	opacity: 90%;

	-webkit-overflow-scrolling: touch;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@media (min-width: 992px) {
	#site-aside {
		width: 20%;
	}
}

@media (max-width: 992px) {
	#site-aside {
		width: 270px;
		-moz-transform: translateX(-270px);
		-webkit-transform: translateX(-270px);
		-ms-transform: translateX(-270px);
		-o-transform: translateX(-270px);
		transform: translateX(-270px);

		padding-top: 2em;
		background: rgba(0, 0, 0, 0.04);
	}
}

#site-aside #site-logo {
	margin-bottom: 5em;
	display: inline-block;
	height: 100px;
	font-weight: 700;
	font-size: 24px;
}

#site-aside #site-logo span {
	display: block;
	font-size: 100px;
	line-height: 1.0;
}

@media (max-width: 992px) {
	#site-aside #site-logo {
		margin-bottom: 20px;
	}
}

#site-aside #site-logo a {
	display: inline-block;
	text-align: center;
	color: #dddddd;
}

#site-aside #site-main-menu ul {
	margin: 0;
	padding: 0;
}

#site-aside #site-main-menu ul li {
	margin: 0 0 15px 0;
	padding-bottom: 2px;
	list-style: none;
	font-size: 16px;
	font-weight: 700;
}

#site-aside #site-main-menu ul li a {
	color: #dddddd;
	text-decoration: none;
	position: relative;
	padding: 10px 0;
	font-family: "Montserrat", Arial, sans-serif;

	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#site-aside #site-main-menu ul li a:after {
	content: "";
	position: absolute;
	height: 1px;
	bottom: 7px;
	left: 0;
	right: 0;
	background-color: #bf9b30;
	visibility: hidden;

	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);

	-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#site-aside #site-main-menu ul li a:hover {
	text-decoration: none;
	color: #bf9b30; }

#site-aside #site-main-menu ul li a:hover:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}

#site-aside .side-footer {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	padding: 0 20px;
	font-size: 14px;
	font-weight: 400;
	color: #dddddd;
}

#site-aside .side-footer h3 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
}

#site-aside .side-footer a {
	color: #dddddd;
}

#site-aside .side-footer span {
	display: block;
}

#site-aside .side-footer ul {
	padding: 0;
	margin: 0;
}

#site-aside .side-footer ul li {
	padding: 0;
	list-style: none;
	width: 40px;
	height: 40px;
	margin: 0 0 0 10px;
}

#site-aside .side-footer ul li a {
	width: 40px;
	height: 40px;
	color: #dddddd;
	padding: 4px;
	font-size: 18px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #bf9b30;
}

#site-aside .side-footer ul li a:hover, #site-aside .side-footer ul li a:active, #site-aside .side-footer ul li a:focus {
	text-decoration: none;
	outline: none;
	color: #000000;
	background: #fff;
}

/*---------------------------------------------------*/

/*Subscribe
---------------------------------------------------*/

.subs-wrap {
	display: block;
	position: relative;
	width: 100%;
	background-image: url(../images/subs_wrap.webp);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}

@media (max-width: 768px) {
	.subs-wrap {
		padding: 20px;
	}
}

.subs-wrap .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	background: #bf9b30;
	z-index: -1;
}
.subs-wrap .search-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.4;
	background: #000000;
	z-index: -1;
}

.subs-wrap h3.sidebar-heading {
	color: #ffffff !important;
}

.subscriber-form .form-group {
	position: relative;
	margin-bottom: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.subscriber-form .form-group input {
	background: transparent;
	border: 1px solid transparent;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.subscriber-form .form-group input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.subscriber-form .form-group input::-moz-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.subscriber-form .form-group input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.subscriber-form .form-group input:-moz-placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.subscriber-form .form-group .form-control {
	border: 1px solid rgba(255, 255, 255, 0.2);
	font-weight: 500;
}

.subscriber-form .form-group .submit {
	color: #000000;
	display: block;
	width: 100%;
	height: 52px;
	font-size: 16px;
	background: #fff;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.subscriber-form .form-group .submit:hover {
	cursor: pointer;
}

.subscriber-form .icon {
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.8);
}

.form-control {
  height: 52px;
}

/*------------------------------------------------*/

/* Footer
-------------------------------------------------*/

.site-footer {
	position: relative;
	padding: 2em 20px;
	background-color: rgba(20, 20, 20, 1);
	color: rgba(205, 205, 205, 0.5);
}

.site-footer .footer-heading {
	color: #deb12a;
	font-weight: 500;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 20px;
}
.site-footer .footer-links {
	text-align: center;
}
.site-footer a {
	color: rgba(255, 255, 255, 0.3);
}
.site-footer a:hover {
	color: rgba(255, 255, 255, 1);
}
.site-footer .designer-link a {
	color: #bf9b30;
}
.site-footer .designer-link a:hover {
	color: rgba(255, 255, 255, 1);
}

.icon-size {
  font-size: 40px;
  padding-right: 12px;
}

/*-------------------------------------------------*/

/* Landing Page
----------------------------------------------------*/

.site-blocks-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: rgba(0, 0, 0, 0.8);
}
.site-blocks-cover:before {
	color: rgba(0, 0, 0, 0.8);
}

.site-blocks-cover .overlay {
	position: relative;
	width: 100%;
	height: 100%;
}
.site-blocks-cover .overlay:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

.site-blocks-cover .overlay .container {
	position: absolute;
}

.site-blocks-cover, .site-blocks-cover .row {
	min-height: 600px;
	height: calc(100vh);
}

.site-blocks-cover h1 {
	color: #fff;
	font-size: 3rem;
}

.site-blocks-cover .welcome-text {
	color: #deb12a;
	font-family: 'Fondamento', cursive;
}

#particles-js {
	width: 100%;
	height: 100%;
}

@media (min-width: 768px)
{
	.site-blocks-cover h1
	{
		font-size: 4rem;
		line-height: 1.2;
	}
}

/*--------------------------------------------------*/

/* About Page
-------------------------------------------------*/

.hero-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
}

.hero-wrap .hero-image {
	width: 50%;
	background-image: url(../images/hero_logo.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.hero-wrap .hero-info {
	width: 50%;
	padding-right: 5px;
	padding-left: 5px;
}

@media (max-width: 768px) {
	.hero-wrap .hero-image {
		width: 35%;
	}
	.hero-wrap .hero-info {
		width: 65%;
	}
}

.hero-wrap .text {
	z-index: 1;
	font-size: 18px;
	font-weight: 500;
}

.hero-wrap .text h1 {
	font-family: 'PT Sans Caption', sans-serif;
	color: #deb12a;
	letter-spacing: 1px;
	font-weight: 900;
}
@media (max-width: 992px) {
	.hero-wrap .text h1 {
		font-size: 22px;
	}
}

.hero-wrap .text p {
	font-size: 18px;
	color: #eeeeee;
}

.about-info {
	padding-left: 20px;
	padding-right: 20px;
}
.about-info p {
	color: #eeeeee;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*-------------------------------------------------*/

/* Gateway Page
-------------------------------------------------*/

.grid-entry {
	display: inline-block;
	position: relative;
	z-index: 0;
	height: 280px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#global {
	background-image: url(../images/image1.webp);
}
#biz {
	background-image: url(../images/image2.webp);
}
#entertainment {
	background-image: url(../images/image3.webp);
}
#creativity {
	background-image: url(../images/image4.webp);
}
#mental {
	background-image: url(../images/image5.webp);
}
#sports {
	background-image: url(../images/image6.webp);
}
#social {
	background-image: url(../images/image7.webp);
}
#education {
	background-image: url(../images/image8.webp);
}
#tech {
	background-image: url(../images/image9.webp);
}

.grid-entry .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: rgba(0, 0, 0, 1);
	opacity: 0;

	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
@media (max-width: 768px) {
	.grid-entry .overlay {
		opacity: 0.7;
	}
}

.grid-entry .text {
	opacity: 0;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
@media (max-width: 768px) {
	.grid-entry .text {
		opacity: 1;
	}
}

.grid-entry .text h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #deb12a;
}

.grid-entry .text span.tag {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 0.8);
}

.grid-entry:hover .overlay, .grid-entry:focus .overlay {
	opacity: 0.6;
}
.grid-entry:hover .text, .grid-entry:focus .text {
	opacity: 1;
}

/*-------------------------------------------------*/

/* Team Page
-------------------------------------------------*/

.team .img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 270px;
}
@media (max-width: 768px) {
	.team .img {
		height: 360px;
	}
}

.team .avatar1 {
	background-image: url(../images/avatar1.webp);
}
.team .avatar2 {
	background-image: url(../images/avatar2.webp);
}
.team .avatar3 {
	background-image: url(../images/avatar3.webp);
}
.team .avatar4 {
	background-image: url(../images/avatar4.webp);
}
.team .avatar5 {
	background-image: url(../images/avatar5.webp);
}
.team .avatar6 {
	background-image: url(../images/avatar6.webp);
}
.team .avatar7 {
	background-image: url(../images/avatar7.webp);
}
.team .avatar8 {
	background-image: url(../images/avatar8.webp);
}
.team .avatar9 {
	background-image: url(../images/avatar9.webp);
}

.team .team-details {
	padding-left: 20px;
	padding-right: 20px;
}

.team .team-details h5 {
	font-family: 'PT Sans Caption', sans-serif;
	margin-bottom: 0;
	color: #deb12a;
}

.team .team-details .position {
	color: #b3b3b3;
}

.team .ftco-social-icon {
	padding: 0;
	margin: 0;
}

.team .ftco-social-icon li {
	list-style: none;
	margin-right: 12px;
}

.team .ftco-social-icon li span {
	font-size: 20px;
	color: #bf9b30;
}

/*-------------------------------------------------*/

/* Article Pages
-------------------------------------------------*/

/* Grey container - incomplete progress */
.progress-container {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 4px;
	background: #101010;
}

/* Golden bar - complete progress */
.progress-bar {
	width: 0%;
	height: 4px;
	background: #bf9b30;
}

.article-body {
	padding-left: 10px;
	padding-right: 10px;
}

.about-author {
	background-color: rgba(30, 30, 30, 1);
	padding: 40px;
}

.about-author img {
	height: auto;
	width: 100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.about-author h4 {
	font-family: 'PT Sans Caption', sans-serif;
	color: #deb12a;
}

.about-author p {
	color: #eeeeee;
}

/*-------------------------------------------------*/

/* Article Page Sidebar
-------------------------------------------------*/

.sidebar {
	background-color: rgba(30, 30, 30, 1);
}
@media (max-width: 768px) {
	.sidebar-box {
		padding: 0;
	}
}

.sidebar-box {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;
	font-size: 15px;
	width: 100%;
}
.sidebar-box h3.sidebar-heading {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'PT Sans Caption', sans-serif;
	color: #deb12a;
	margin-bottom: 20px;
}
.sidebar-box .sidebar-text {
	font-size: 14px;
	color: white;
}

.popular img {
	display: block;
	height: 80px;
	width: 80px;
}

.popular .details {
	display: inline-block;
	font-size: 12px;
	color: #999999;
}
.popular .details span {
	margin-right: 10px;
}

.tagcloud {
	padding: 0;
}

.tagcloud a {
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 7px;
	margin-right: 4px;
	border-radius: 4px;
	color: #eeeeee;
	border: 1px solid #ccc;
	font-size: 11px;
}

.tagcloud a:hover {
	border: 1px solid #000;
}

.categories, .sidelink {
	padding: 0;
}

.categories li, .sidelink li {
	position: relative;
	margin-bottom: 10px;
	padding: 5px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	list-style: none;
}

.categories li a, .sidelink li a {
	display: block;
	color: rgba(255, 255, 255, 1);
}

.categories li a span, .sidelink li a span {
	position: absolute;
	right: 0;
	top: 0;
	color: rgba(255, 255, 255, 0.8);
}

.categories li:last-child, .sidelink li:last-child {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}

.categories li.active a, .sidelink li.active a {
	color: #000000;
	font-style: italic;
}

/*-------------------------------------------------*/

/* Writer Pages
-------------------------------------------------*/

.writer-image {
	width: 100%;
	height: auto;
}

.writer-info {
	padding: 40px 20px 20px;
}

@media (max-width: 768px) {
	.writer-info {
		margin: auto;
		text-align: center;
	}
}

.article {
	margin-bottom: 6em;
}

.article-image {
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 1em;
	height: 300px;
}

.article-title {
	font-family: 'PT Sans Caption', sans-serif;
	color: #deb12a;
	font-size: 18px;
	font-weight: 700;
}

.article-details {
	font-size: 14px;
	margin: 10px 10px 0 0;
	color: #bfbfbf;
}

/*-------------------------------------------------*/
