/* CSS for Verily */


/* Site Foundation
________________________________________________*/

:root {
	--primary-accent: #00a6d7;
	--secondary-accent: #54b0ff;

	--primary-background: #101010;
	--secondary-background: /*#101010*/#18181e;

	--primary-text: #eeeeee;
	--secondary-text: #eeeeee;
	--subdued-text: rgba(255, 255, 255, 0.8);

	--shifting-black: rgba(0, 0, 0, 1);
	--shifting-white: rgba(255, 255, 255, 1);
	--unshifting-black: rgba(0, 0, 0, 1);
	--unshifting-white: rgba(255, 255, 255, 1);
}
/*@media (prefers-color-scheme: light) {
	:root {
		--primary-background: #eeeeee;
		--primary-text: #101010;

		--shifting-black: rgba(255, 255, 255, 1);
		--shifting-white: rgba(0, 0, 0, 1);
	}
}*/


*,
*:before,
*:after {
	box-sizing: border-box;
}

@font-face {
	font-family: "JetBrainsMono";
	src: url("../fonts/JetBrainsMono-Regular.woff2") format('woff2');
	font-display: optional;
}
@font-face {
	font-family: "Argent";
	src: url("../fonts/ArgentPixelCF-Italic.woff2") format('woff2');
	font-display: optional;
}

html {
	font-family: 'JetBrainsMono', sans-serif;
	line-height: 1.15;
	-ms-overflow-style: scrollbar;
	scroll-behavior: smooth;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body {
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--primary-accent);
	background-color: var(--secondary-background);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: all 0.2s ease-in-out;

	font-family: "JetBrainsMono";

	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

::-webkit-scrollbar {
	width: 15px;
	background-color: var(--unshifting-black);
}
::-webkit-scrollbar-thumb {
	background-color: var(--primary-accent);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
	background-color: var(--unshifting-black);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::selection {
	background: transparent;
	color: var(--primary-accent);
}

#site-page {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#site-main {
	width: 100%;
	float: right;

	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

/* slides out sidebar for desktop devices */
@media (min-width: 992px) {
	#site-main {
		width: 80%;
	}
}

/*________________________________________________*/

/* General Stylings
__________________________________________________*/

.desktop-only {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* Buttons */
.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border: 1px solid transparent;
	color: var(--shifting-black);

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	-webkit-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
	min-width: 2.5rem;
}
@media (prefers-reduced-motion: reduce) {
	.btn {
	transition: none;
	}
}	

.btn:hover, .btn:active, .btn:focus {
	outline: none;
}

.btn.btn-white {
	border: 1px solid var(--shifting-white);
	background-color: var(--shifting-white);
	color: var(--shifting-black);
}
.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
	border: 1px solid var(--shifting-black);
	background-color: var(--shifting-black);
	color: var(--shifting-white);
}

@media (max-width: 768px) {
	.desktop-only {
		visibility: hidden;
	}
}

body {
	background-color: var(--primary-background);
	font-family: "JetBrainsMono", sans-serif;
	font-size: 15px;
	color: var(--primary-background);
	font-weight: 500;
	line-height: 1.8;
}

body.offcanvas {
	overflow-x: hidden;
}

body.offcanvas #site-main, body.offcanvas .site-nav-toggle {
	top: 0;
	-moz-transform: translateX(270px);
	-webkit-transform: translateX(270px);
	-ms-transform: translateX(270px);
	-o-transform: translateX(270px);
	transform: translateX(270px);
}

body.offcanvas #site-aside {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);

	width: 270px;
	background: black;
	z-index: 1;
	position: fixed;
}

a {
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
	color: var(--secondary-accent);
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
	color: var(--shifting-white);
	outline: none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: var(--secondary-accent);
	font-weight: 400;
	font-family: "JetBrainsMono", sans-serif;
}

.section {
	padding: 3em 1.8em;
	position: relative;
}

@media (max-width: 992px) {
	.section {
		padding: 3em 0;
	}
}

.section-no-padding {
	padding: 0;
}

.section-heading {
	font-family: 'JetBrainsMono', sans-serif;
	color: var(--secondary-accent);
	font-weight: 600;
}

.text-center {
	text-align: center;
}

/*________________________________________________-*/

/* Loading Page
____________________________________________________________-*/

#ftco-loader {
	position: fixed;
	width: 96px;
	height: 96px;
	left: 50%;
	top: 50%;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
	box-shadow: 0 24px 64px rgba(0, 0, 0, 0.24);
	border-radius: 16px;
	opacity: 0;
	visibility: hidden;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
	-o-transition: opacity .2s ease-out, visibility 0s linear .2s;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index: 998;
}

#ftco-loader.fullscreen {
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(220, 220, 220, 1);
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;

	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

#ftco-loader.show {
	-webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
	-o-transition: opacity .4s ease-out, visibility 0s linear 0s;
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

.spinner {
	margin: 40% auto;
	width: 40px;
	height: 40px;
	position: relative;
	text-align: center;

	-webkit-animation: sk-rotate 2.0s infinite linear;
	animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #333;
	border-radius: 100%;

	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
	background-color: var(--primary-accent);
}

@-webkit-keyframes sk-rotate {
	100% {
		-webkit-transform: rotate(360deg)
	}
}
@keyframes sk-rotate {
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg)
	}
}

@-webkit-keyframes sk-bounce {
	0%, 100% {
			-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}
@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/*________________________________________________________________________-*/

/* Sidebar Toggle
________________________________________________________________________-*/

.site-nav-toggle {
	cursor: pointer;
	text-decoration: none;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 999;
	opacity: 1;
	padding: 20px;
	visibility: visible;

	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@media (min-width: 992px) {
	.site-nav-toggle {
		visibility: hidden;
	}
}

.site-nav-toggle:hover, .site-nav-toggle:focus, .site-nav-toggle:active {
	outline: none;
	border-bottom: none;
}

.site-nav-toggle i {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 2px;
	background: var(--primary-accent);
	color: var(--primary-accent);
	text-transform: uppercase;

	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.site-nav-toggle i::before, .site-nav-toggle i::after {
	content: '';
	width: 30px;
	height: 2px;
	background: var(--primary-accent);
	position: absolute;

	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.site-nav-toggle i::before {
	top: -7px;
}
.site-nav-toggle i::after {
	bottom: -7px;
}
.site-nav-toggle:hover i::before {
	top: -10px;
}
.site-nav-toggle:hover i::after {
	bottom: -10px;
}

.site-nav-toggle.active i {
	background: transparent;
}
.site-nav-toggle.active i::before {
	top: 0;
	background: var(--primary-accent);
	-webkit-transform: rotateZ(45deg);
	-moz-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}
.site-nav-toggle.active i::after {
	bottom: 0;
	background: var(--primary-accent);
	-webkit-transform: rotateZ(-45deg);
	-moz-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

/*________________________________________________________________________-*/

/* Site Aside
________________________________________________________________________-*/

#site-aside {
	padding: 3em 3em 40px;
	width: 20%;
	position: fixed;

	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	overflow-y: hidden;
	z-index: 2;
	background: var(--unshifting-black);
	opacity: 100%;
	text-align: center;

	-webkit-overflow-scrolling: touch;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@media (min-width: 992px) {
	#site-aside {
		width: 20%;
	}
}

@media (max-width: 992px) {
	#site-aside {
		width: 270px;
		-moz-transform: translateX(-270px);
		-webkit-transform: translateX(-270px);
		-ms-transform: translateX(-270px);
		-o-transform: translateX(-270px);
		transform: translateX(-270px);

		padding-top: 2em;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

#site-aside #site-logo {
	margin-bottom: 5em;
	display: inline-block;
	height: 100px;
	font-weight: 700;
	font-size: 24px;
}

#site-aside #site-logo span {
	display: block;
	font-size: 100px;
	line-height: 1.0;
}

@media (max-width: 992px) {
	#site-aside #site-logo {
		margin-bottom: 20px;
	}
}

#site-aside #site-logo {
	display: inline-block;
	text-align: center;
	color: var(--primary-accent);
}
#site-aside #site-logo:hover {
	color: var(--unshifting-white);
}

#site-aside #site-main-menu ul {
	margin: 0;
	padding: 0;
}

#site-aside #site-main-menu ul li {
	margin: 0 0 15px 0;
	padding-bottom: 2px;
	list-style: none;
	font-size: 16px;
	font-weight: 700;
}

#site-aside #site-main-menu ul li a {
	text-decoration: none;
	position: relative;
	padding: 10px 0;
	font-family: "JetBrainsMono", sans-serif;
	color: var(--secondary-text);

	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#site-aside #site-main-menu ul li a:hover {
	text-decoration: none;
	color: var(--primary-accent);
}

#site-aside #site-main-menu ul li a:after {
	content: "";
	position: absolute;
	height: 1px;
	bottom: 7px;
	left: 0;
	right: 0;
	background-color: var(--primary-accent);
	visibility: hidden;

	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);

	-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#site-aside #site-main-menu ul li a:hover:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}

#site-aside .side-footer {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	padding: 0 20px;
	font-size: 14px;
	font-weight: 400;
	color: var(--secondary-text);
}

#site-aside .side-footer h3 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 20px;
}

#site-aside .side-footer a {
	color: var(--secondary-text);
}

#site-aside .side-footer span {
	display: block;
}

#site-aside .side-footer .ik-social-icon-tags li a {
	width: 44px;
	height: 44px;
	background-color: var(--primary-accent);
}
#site-aside .side-footer .ik-social-icon-tags li a:hover {
	background-color: var(--unshifting-black);
	transition: all 0.2s ease-in-out;
}

#site-aside .side-footer .ik-social-icon-tags li a span {
	font-size: 24px;
	color: var(--unshifting-white);
}

#site-aside .side-footer .ik-social-icon-tags .ik-mail,
#site-aside .side-footer .ik-social-icon-tags .ik-mail:after {
	background-color: var(--unshifting-white);
}
#site-aside .side-footer .ik-social-icon-tags .ik-mail:after {
	border: 2px solid var(--primary-accent);
}
#site-aside .side-footer .ik-social-icon-tags li a:hover .ik-mail {
	background-color: var(--primary-accent);
	transition: all 0.2s ease-in-out;
}
#site-aside .side-footer .ik-social-icon-tags li a:hover .ik-mail:after {
	background-color: var(--primary-accent);
	border: 2px solid var(--secondary-background);
}

#site-aside .side-footer .ik-social-icon-tags .ik-instagram,
#site-aside .side-footer .ik-social-icon-tags .ik-instagram:after {
	border: 2px solid var(--unshifting-white);
}
#site-aside .side-footer .ik-social-icon-tags .ik-instagram:before {
	background-color: var(--unshifting-white);
}
#site-aside .side-footer .ik-social-icon-tags li a:hover .ik-instagram,
#site-aside .side-footer .ik-social-icon-tags li a:hover .ik-instagram:after {
	border: 2px solid var(--primary-accent);
}
#site-aside .side-footer .ik-social-icon-tags li a:hover .ik-instagram:before {
	background-color: var(--primary-accent);
}

/*___________________________________________________*/

/*Subscribe
___________________________________________________*/

.subs-wrap {
	display: block;
	position: relative;
	width: 100%;
	background-image: url(../images/subs_wrap.webp);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}

@media (max-width: 768px) {
	.subs-wrap {
		padding: 20px;
	}
}

.subs-wrap .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.6;
	background: var(--primary-accent);
	z-index: -1;
}
.subs-wrap .search-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.4;
	background: var(--unshifting-black);
	z-index: -1;
}

.subs-wrap h3.sidebar-heading {
	color: var(--unshifting-white) !important;
}

.subscriber-form .form-group {
	position: relative;
	margin-bottom: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.subscriber-form .form-group .form-control {
	border: 1px solid var(--unshifting-white);
	height: 52px;
}

.subscriber-form .form-group input {
	border: 1px solid transparent;
	font-size: 16px;
	background-color: transparent;
	color: var(--primary-text);
	-webkit-border-radius: 0;
	border-radius: 0;
}

.subscriber-form .form-group input::-webkit-input-placeholder {
	color: var(--subdued-text);
}
.subscriber-form .form-group input::-moz-placeholder {
	color: var(--subdued-text);
}
.subscriber-form .form-group input::-ms-input-placeholder {
	color: var(--subdued-text);
}
.subscriber-form .form-group input::placeholder {
	color: var(--subdued-text);
}

.subscriber-form .form-group .submit {
	display: block;
	background-color: var(--shifting-white);
	color: var(--shifting-black);
	width: 100%;
	height: 52px;
	font-size: 16px;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.subscriber-form .form-group .submit:hover, 
.subscriber-form .form-group .submit:focus, 
.subscriber-form .form-group .submit:active {
	cursor: pointer;
	background-color: var(--shifting-black);
	color: var(--shifting-white);
}

/*________________________________________________*/

/* Footer
________________________________________________-*/

.site-footer {
	position: relative;
	padding: 2em 20px;
	background-color: var(--secondary-background);
	color: var(--subdued-text);
}

.site-footer .footer-heading {
	font-size: 20px;
	color: var(--primary-accent);
}
.site-footer .designer-link a {
	color: var(--primary-accent);
}
.site-footer .designer-link a:hover {
	color: var(--unshifting-white);
}

.site-footer .ik-social-icon-tags li a {
	background-color: var(--secondary-background);
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
.site-footer .ik-social-icon-tags li a:hover {
	background-color: var(--primary-accent);
}

.site-footer .ik-social-icon-tags li a:hover .ik-mail {
	background-color: var(--unshifting-white);
}
.site-footer .ik-social-icon-tags li a:hover .ik-mail:after {
	background-color: var(--unshifting-white);
	border: 2px solid var(--primary-accent);
}

.site-footer .ik-social-icon-tags li a:hover .ik-instagram, 
.site-footer .ik-social-icon-tags li a:hover .ik-instagram:after {
	border: 2px solid var(--unshifting-white);
}
.site-footer .ik-social-icon-tags li a:hover .ik-instagram:before {
	background-color: var(--unshifting-white);
}

.site-footer p {
	margin-top: 0;
}

/*__________________________________________________*/

/* Page Headers
________________________________________________*/

.header {
	background: var(--secondary-background);
}

.bread .breadcrumbs {
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.bread .breadcrumbs a span {
	color: var(--subdued-text);
	border-bottom: 2px solid var(--subdued-text);
	margin-right: 0.5rem;
}
.bread .breadcrumbs span {
	color: var(--secondary-accent);
	border-bottom: 2px solid var(--secondary-accent);
}

.bread .page-heading, .read-time {
	color: var(--primary-accent);
	font-weight: 800;
}

.bread p {
	color: var(--secondary-text);
}
/*________________________________________________*/

/* Landing Page
____________________________________________________*/

.landing-page {
	height: 100vh;
	background-image: url(../images/index_hero.webp);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: var(--unshifting-black);
	z-index: 0;
}

.landing-page .overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: 1;
	align-items: center;
	justify-content: center;
}

.landing-page .welcome-text {
	color: var(--secondary-accent);
	font-family: 'Fondamento', cursive;
}
@media (min-width: 768px) {
	.landing-page .welcome-text {
		font-size: 4rem;
		line-height: 1.2;
	}
}

#particles-js {
	position: absolute;
	background-attachment: fixed;
	z-index: 0;
	width: 100%;
	height: 100%;
}

/*__________________________________________________*/

/* About Page
____________________________________________________*/

.hero-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 0;
}

.hero-wrap .hero-image {
	width: 50%;
	background-image: url(../images/hero_logo.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.hero-wrap .hero-image.lazy {
	background-image: none;
	background-color: var(--primary-background);
}

.hero-wrap .hero-info {
	width: 50%;
	padding-right: 5px;
	padding-left: 5px;
}

@media (max-width: 768px) {
	.hero-wrap .hero-image {
		width: 35%;
	}
	.hero-wrap .hero-info {
		width: 65%;
	}
}

.hero-wrap .hero-info h1 {
	color: var(--secondary-accent);
	letter-spacing: 1px;
	font-weight: 900;
}
.hero-wrap .hero-info p {
	font-size: 18px;
	color: var(--primary-text);
}

.about-info {
	padding-left: 20px;
	padding-right: 20px;
}
.about-info p {
	color: var(--primary-text);
	margin-top: 10px;
	margin-bottom: 10px;
}

.hero-info .ik-social-icon-tags .ik-mail,
.hero-info .ik-social-icon-tags .ik-mail:after {
	background-color: var(--unshifting-black);
}
.hero-info .ik-social-icon-tags .ik-mail:after {
	border: 2px solid var(--unshifting-white);
}
.hero-info .ik-social-icon-tags li a:hover .ik-mail {
	background-color: var(--primary-accent);
	transition: all 0.2s ease-in-out;
}
.hero-info .ik-social-icon-tags li a:hover .ik-mail:after {
	background-color: var(--primary-accent);
	border: 2px solid var(--secondary-background);
}

.hero-info .ik-social-icon-tags .ik-instagram,
.hero-info .ik-social-icon-tags .ik-instagram:after {
	border: 2px solid var(--unshifting-black);
}
.hero-info .ik-social-icon-tags .ik-instagram:before {
	background-color: var(--unshifting-black);
}
.hero-info .ik-social-icon-tags li a:hover .ik-instagram,
.hero-info .ik-social-icon-tags li a:hover .ik-instagram:after {
	border: 2px solid var(--primary-accent);
}
.hero-info .ik-social-icon-tags li a:hover .ik-instagram:before {
	background-color: var(--primary-accent);
}


/*________________________________________________-*/

/* Gateway Page
________________________________________________-*/

.grid-entry {
	display: inline-block;
	position: relative;
	z-index: 0;
	height: 280px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	justify-content: center;
	align-items: center;
}

#global {
	background-image: url(../images/image1.webp);
}
#global:hover {
	background-image: linear-gradient(black, black), url(../images/image1.webp);
	background-blend-mode: saturation;
}
#global.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
#biz {
	background-image: url(../images/image2.webp);
}
#biz:hover {
	background-image: linear-gradient(black, black), url(../images/image2.webp);
	background-blend-mode: saturation;
}
#biz.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
#entertainment {
	background-image: url(../images/image3.webp);
}
#entertainment:hover {
	background-image: linear-gradient(black, black), url(../images/image3.webp);
	background-blend-mode: saturation;
}
#entertainment.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
#creativity {
	background-image: url(../images/image4.webp);
}
#creativity:hover {
	background-image: linear-gradient(black, black), url(../images/image4.webp);
	background-blend-mode: saturation;
}
#creativity.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
#mental {
	background-image: url(../images/image5.webp);
}
#mental:hover {
	background-image: linear-gradient(black, black), url(../images/image5.webp);
	background-blend-mode: saturation;
}
#mental.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
#sports {
	background-image: url(../images/image6.webp);
}
#sports:hover {
	background-image: linear-gradient(black, black), url(../images/image6.webp);
	background-blend-mode: saturation;
}
#sports.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
#social {
	background-image: url(../images/image7.webp);
}
#social:hover {
	background-image: linear-gradient(black, black), url(../images/image7.webp);
	background-blend-mode: saturation;
}
#social.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
#education {
	background-image: url(../images/image8.webp);
}
#education:hover {
	background-image: linear-gradient(black, black), url(../images/image8.webp);
	background-blend-mode: saturation;
}
#education.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
#tech {
	background-image: url(../images/image9.webp);
}
#tech:hover {
	background-image: linear-gradient(black, black), url(../images/image9.webp);
	background-blend-mode: saturation;
}
#tech.lazy {
	background-image: none;
	background-color: var(--primary-background);
}

@media (max-width: 768px) {
	#global {
		background-image: linear-gradient(black, black), url(../images/image1.webp);
		background-blend-mode: saturation;
	}
	#global:hover {
		background-image: url(../images/image1.webp);
	}
	#biz {
		background-image: linear-gradient(black, black), url(../images/image2.webp);
		background-blend-mode: saturation;
	}
	#biz:hover {
		background-image: url(../images/image2.webp);
	}
	#entertainment {
		background-image: linear-gradient(black, black), url(../images/image3.webp);
		background-blend-mode: saturation;
	}
	#entertainment:hover {
		background-image: url(../images/image3.webp);
	}
	#creativity {
		background-image: linear-gradient(black, black), url(../images/image4.webp);
		background-blend-mode: saturation;
	}
	#creativity:hover {
		background-image: url(../images/image4.webp);
	}
	#mental {
		background-image: linear-gradient(black, black), url(../images/image5.webp);
		background-blend-mode: saturation;
	}
	#mental:hover {
		background-image: url(../images/image5.webp);
	}
	#sports {
		background-image: linear-gradient(black, black), url(../images/image6.webp);
		background-blend-mode: saturation;
	}
	#sports:hover {
		background-image: url(../images/image6.webp);
	}
	#social {
		background-image: linear-gradient(black, black), url(../images/image7.webp);
		background-blend-mode: saturation;
	}
	#social:hover {
		background-image: url(../images/image7.webp);
	}
	#education {
		background-image: linear-gradient(black, black), url(../images/image8.webp);
		background-blend-mode: saturation;
	}
	#education:hover {
		background-image: url(../images/image8.webp);
	}
	#tech {
		background-image: linear-gradient(black, black), url(../images/image9.webp);
		background-blend-mode: saturation;
	}
	#tech:hover {
		background-image: url(../images/image9.webp);
	}
}

.grid-entry .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: var(--unshifting-black);
	opacity: 0;

	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.grid-entry .text {
	opacity: 0;
	text-align: center;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding-left: 10%;
	padding-right: 10%;
}
@media (max-width: 768px) {
	.grid-entry .overlay {
		opacity: 0.7;
	}
	.grid-entry .text {
		opacity: 1;
	}
}

.grid-entry .text h3 {
	font-size: 20px;
	color: var(--secondary-accent);
}
.grid-entry .text span {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--unshifting-white);
}

.grid-entry:hover .overlay, .grid-entry:focus .overlay {
	opacity: 0.7;
}
.grid-entry:hover .text, .grid-entry:focus .text {
	opacity: 1;
}
@media (max-width: 768px) {
	.grid-entry:hover .overlay, .grid-entry:focus .overlay {
		opacity: 0;
	}
	.grid-entry:hover .text, .grid-entry:focus .text {
		opacity: 0;
	}
}

/*_________________________________________________*/

/* Team Page
___________________________________________________*/

.team .img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 270px;
}
@media (max-width: 768px) {
	.team .img {
		height: 360px;
	}
}

.team .avatar1 {
	background-image: linear-gradient(black, black), url(../images/avatar1.webp);
	background-blend-mode: saturation;
}
.team .avatar1.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
.team:hover .avatar1 {
	background-image: url(../images/avatar1.webp);
}
.team .avatar2 {
	background-image: linear-gradient(black, black), url(../images/avatar2.webp);
	background-blend-mode: saturation;
}
.team .avatar2.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
.team:hover .avatar2 {
	background-image: url(../images/avatar2.webp);
}
.team .avatar3 {
	background-image: linear-gradient(black, black), url(../images/avatar3.webp);
	background-blend-mode: saturation;
}
.team .avatar3.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
.team:hover .avatar3 {
	background-image: url(../images/avatar3.webp);
}
.team .avatar4 {
	background-image: linear-gradient(black, black), url(../images/avatar4.webp);
	background-blend-mode: saturation;
}
.team .avatar4.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
.team:hover .avatar4 {
	background-image: url(../images/avatar4.webp);
}
.team .avatar5 {
	background-image: linear-gradient(black, black), url(../images/avatar5.webp);
	background-blend-mode: saturation;
}
.team .avatar5.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
.team:hover .avatar5 {
	background-image: url(../images/avatar5.webp);
}
.team .avatar6 {
	background-image: linear-gradient(black, black), url(../images/avatar6.webp);
	background-blend-mode: saturation;
}
.team .avatar6.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
.team:hover .avatar6 {
	background-image: url(../images/avatar6.webp);
}
.team .avatar7 {
	background-image: linear-gradient(black, black), url(../images/avatar7.webp);
	background-blend-mode: saturation;
}
.team .avatar7.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
.team:hover .avatar7 {
	background-image: url(../images/avatar7.webp);
}
.team .avatar8 {
	background-image: linear-gradient(black, black), url(../images/avatar8.webp);
	background-blend-mode: saturation;
}
.team .avatar8.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
.team:hover .avatar8 {
	background-image: url(../images/avatar8.webp);
}
.team .avatar9 {
	background-image: linear-gradient(black, black), url(../images/avatar9.webp);
	background-blend-mode: saturation;
}
.team .avatar9.lazy {
	background-image: none;
	background-color: var(--primary-background);
}
.team:hover .avatar9 {
	background-image: url(../images/avatar9.webp);
}

.team .team-details {
	padding-left: 20px;
	padding-right: 20px;
}

.team .team-details h5 {
	font-size: 1.25rem;
	margin-bottom: 0;
	color: var(--secondary-accent);
}

.team .team-details .position {
	color: var(--subdued-text);
}

/*_________________________________________________*/

/* Article Pages
___________________________________________________*/

/* scroll progress container */
.progress-container {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 4px;
	background: var(--secondary-background);
}
/* scroll progress bar */
.progress-bar {
	width: 0%;
	height: 4px;
	background: var(--primary-accent);
}

.article-body {
	padding-left: 10px;
	padding-right: 10px;
	color: var(--primary-text);
}

.article-body p:first-child::first-letter {
	font-family: 'Argent', cursive;
	font-size: 500%;
	color: var(--secondary-accent);
	line-height: 150%;
	margin-right: 1.5%;
}

.article-body .article-body-image {
	margin-bottom: 40px;
}
.article-body .article-body-image img {
	width: 100%;
	height: auto;
}
.article-body .article-body-image h6 {
	margin-top: 0;
	float: right;
	font-weight: 400;
	color: var(--subdued-text);
	margin-bottom: 0;
	padding-bottom: 0;
}

.about-author {
	background-color: var(--secondary-background);
	padding: 20px;
	margin: auto;
	align-items: center;
	justify-content: center;
}
.about-author div {
	padding-left: 20px;
	padding-right: 20px;
}
.about-author img {
	height: auto;
	width: 100%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.about-author h3 {
	color: var(--secondary-accent);
}
.about-author p {
	color: var(--secondary-text);
}

/*_________________________________________________*/

/* Article Page Sidebar
___________________________________________________*/

.sidebar {
	background-color: var(--secondary-background);
}
@media (max-width: 768px) {
	.sidebar-box {
		padding: 0;
	}
}

.sidebar-box {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 15px;
	font-size: 15px;
	width: 100%;
}
.sidebar-box h3.sidebar-heading {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 2px;
	color: var(--secondary-accent);
}
.sidebar-box .sidebar-text {
	font-size: 14px;
	color: var(--subdued-text);
}

.tagcloud {
	padding: 0;
}
.tagcloud a {
	text-transform: lowercase;
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 7px;
	margin-right: 4px;
	border-radius: 4px;
	color: var(--secondary-text);
	border: 1px solid var(--secondary-text);
	font-size: 11px;
}
.tagcloud a:hover {
	border: 1px solid var(--secondary-accent);
	color: var(--secondary-accent);
	font-style: italic;
}

.categories {
	padding: 0;
}
.categories li {
	position: relative;
	margin-bottom: 10px;
	padding: 5px 0;
	border-bottom: 1px solid var(--secondary-text);
	list-style: none;
}
.categories li a {
	display: block;
	color: var(--secondary-text);
}
.categories li a span {
	float: right;
	color: var(--secondary-text);
}
.categories li:last-child {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}
.categories li:hover a, .categories li:hover a span {
	color: var(--primary-accent);
	font-style: italic;
}

/*_________________________________________________*/

/* Writer Pages
___________________________________________________*/

.writer-image {
	width: 100%;
	height: auto;
}
.writer-info {
	padding: 40px 20px 20px;
}
@media (max-width: 768px) {
	.writer-info {
		margin: auto;
		text-align: center;
	}
}

.writer-article {
	margin-bottom: 6em;
}
.writer-article-image {
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 1em;
	height: 300px;
}
.writer-article-title {
	color: var(--primary-text);
	font-size: 18px;
	font-weight: 700;
}
.writer-article-details {
	font-size: 14px;
	margin: 10px 10px 0 0;
	color: var(--primary-text);
}

/*_________________________________________________*/

/* Social Icons */
/*_________________________________________________*/

.ik-mail,
.ik-mail::after {
	display: block;
	box-sizing: border-box;
}
.ik-mail {
	overflow: hidden;
	position: relative;
	height: 20px;
	width: 24px;
	border: 2px solid transparent;
	background-color: var(--primary-accent);
	border-radius: 4px;
}
.ik-mail::after {
	content: "";
	position: absolute;
	height: 19px;
	width: 24px;
	border: 2px solid var(--shifting-black);
	background-color: var(--primary-accent);
	bottom: 9px;
	left: 0px;
	border-radius: 4px;
	transform: rotate(-45deg);
}

.ik-instagram {
	display: block;
	box-sizing: border-box;
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid var(--primary-accent);
	border-radius: 30%;
}
.ik-instagram::after,
.ik-instagram::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
}
.ik-instagram::after {
	width: 10px;
	height: 10px;
	border: 2px solid var(--primary-accent);
	left: 3.4px;
	top: 3.2px;
	border-radius: 100%;
}
.ik-instagram::before {
	width: 2px;
	height: 2px;
	background: var(--primary-accent);
	top: 2px;
	right: 2px;
	border-radius: 50%;
}

.ik-facebook {
	display: block;
	box-sizing: border-box;
	position: relative;
	width: 16px;
	height: 20px;
}
.ik-facebook::after,
.ik-facebook::before {
	content: "";
	display: block;
	position: absolute;
	box-sizing: border-box;
}
.ik-facebook::before {
	width: 8px;
	height: 20px;
	border-left: 4px solid var(--primary-accent);
	border-top: 4px solid var(--primary-accent);
	left: 6px;
	border-top-left-radius: 5px;
}
.ik-facebook::after {
	width: 10px;
	height: 4px;
	background: var(--primary-accent);
	top: 7.2px;
	left: 3px;
	transform: skew(-5deg);
}

.ik-folder,
.ik-folder::after {
	display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 18px;
    height: 12px;
    border: 2px solid var(--shifting-white);
    border-radius: 3px;
}
.ik-folder::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 4px;
    border-bottom: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    top: -5px;
}

.ik-calendar,
.ik-calendar::before {
    display: inline-block;
    box-sizing: border-box;
}
.ik-calendar {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid var(--shifting-white);
    border-top: 4px solid var(--shifting-white);
    border-radius: 3px;
}
.ik-calendar::before {
    content: "";
    position: absolute;
    width: 10px;
    border-radius: 3px;
    left: 2px;
    background: var(--shifting-white);
    height: 2px;
    top: 2px;
}

.ik-arrow-right-o {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 0 solid;
    border-radius: 20px;
}
.ik-arrow-right-o::after,
.ik-arrow-right-o::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    right: 4px;
}
.ik-arrow-right-o::after {
    width: 6px;
    height: 6px;
    border-top: 4px solid var(--shifting-white);
    border-right: 4px solid var(--shifting-white);
    transform: rotate(45deg);
    bottom: 6px;
}
.ik-arrow-right-o::before {
    width: 10px;
    height: 4px;
    bottom: 7px;
    right: 6px;
    background: var(--shifting-white);
}

.ik-social-icon-tags {
	padding: 0;
	margin: 0;
}

.ik-social-icon-tags li {
	display: inline-block;
	list-style: none;
	margin-right: 12px;
}

.ik-social-icon-tags li a {
	position: relative;
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: var(--shifting-white);
}
.ik-social-icon-tags li a:hover {
	background-color: var(--shifting-black);
	transition: all 0.2s ease-in-out;
}

.ik-social-icon-tags li a span {
	position: absolute;
	font-size: 25px;
	top: 50%;
	left: 50%;
	color: var(--shifting-black);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.ik-social-icon-tags li a:hover span {
	color: var(--shifting-white);
	transition: all 0.2s ease-in-out;
}

.ik-social-icons {
	padding: 0;
	margin: 0;
}

.ik-social-icons li {
	display: inline-block;
	list-style: none;
	margin-right: 12px;
}

.ik-social-icons li span {
	font-size: 20px;
	color: var(--primary-accent);
}
.ik-social-icons li span:hover {
	color: var(--shifting-white);
}

/*_________________________________________________*/

#like_button {
	
}

.like_toggled {
	background-color: black !important;
	color: white !important;
	border-color: black !important;
}

/* temp inclusions from bootstrap to shift to bootstrap-grid */
.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
	.form-control {
	transition: none;
	}
}
.form-control[type=file] {
	overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
	cursor: pointer;
}
.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-control::-webkit-date-and-time-value {
	height: 1.5em;
}
.form-control::-webkit-input-placeholder {
	color: #6c757d;
	opacity: 1;
}
.form-control::-moz-placeholder {
	color: #6c757d;
	opacity: 1;
}
.form-control::placeholder {
	color: #6c757d;
	opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
	background-color: #e9ecef;
	opacity: 1;
}
.form-control::file-selector-button {
	padding: 0.375rem 0.75rem;
	margin: -0.375rem -0.75rem;
	-webkit-margin-end: 0.75rem;
	margin-inline-end: 0.75rem;
	color: #212529;
	background-color: #e9ecef;
	pointer-events: none;
	border-color: inherit;
	border-style: solid;
	border-width: 0;
	border-inline-end-width: 1px;
	border-radius: 0;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
	.form-control::file-selector-button {
	transition: none;
	}
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
	background-color: #dde0e3;
}
.form-control::-webkit-file-upload-button {
	padding: 0.375rem 0.75rem;
	margin: -0.375rem -0.75rem;
	-webkit-margin-end: 0.75rem;
	margin-inline-end: 0.75rem;
	color: #212529;
	background-color: #e9ecef;
	pointer-events: none;
	border-color: inherit;
	border-style: solid;
	border-width: 0;
	border-inline-end-width: 1px;
	border-radius: 0;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
	.form-control::-webkit-file-upload-button {
	-webkit-transition: none;
	transition: none;
	}
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
	background-color: #dde0e3;
}
